# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.
#
# ,--------.      ,--.   ,--. ,--.
# '--.  .--',---.  \  `.'  /,-'  '-.
#    |  |  | .-. :  .'    \ '-.  .-'
#    |  |  \   --. /  .'.  \  |  |
#    `--'   `----''--'   '--' `--'




## => Site Settings
##############################
text_skin: default
highlight_theme: default
url     : "https://blueecoffee.github.io"
baseurl : ""
title   : "Kai Huang - Academic Homepage"
description: "Personal academic homepage of Kai Huang, Ph.D. student at Sichuan University"


## => Language and Timezone
##############################
lang: en
timezone: Asia/Shanghai


## => Author and Social
##############################
author:
  type      : person
  name      : "Kai Huang"
  url       : "https://blueecoffee.github.io"
  avatar    : "/assets/images/avatar.jpg"
  bio       : "Ph.D. student at Sichuan University. Research interests: Computer Vision."
  email     : "hkd20088@163.com"
  twitter   : 
  weibo     : 
  linkedin  : 
  github    : "blueecoffee"


## => GitHub Repository (if the site is hosted by GitHub)
##############################
repository: blueecoffee/blueecoffee.github.io


## => Paths
##############################
paths:
  root    : "/"
  home    : "/"
  archive : "/archive.html"
  rss     : "/feed.xml"


## => Post
##############################
excerpt_separator: <!--more-->
license: false

toc:
  selectors: "h1,h2,h3"


## => Markdown Enhancements
##############################
mathjax: false
mathjax_autoNumber: false
mermaid: false
chart: false


## => Paginate
##############################
paginate: 8
paginate_path: /page:num


## => Sources
##############################
sources: bootcdn


## => Sharing
##############################
sharing:
  provider: false


## => Comments
##############################
comments:
  provider: false


## => Pageview
##############################
pageview:
  provider: false


## => Search
##############################
search:
  provider: default


## => Analytics
##############################
analytics:
  provider: false


## => Build
##############################
markdown    : kramdown
highlighter : rouge
permalink   : date

exclude:
  - CHANGELOG.md
  - HOW_TO_RELEASE.md
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README-*.md
  - README.md
  - gulpfile.js
  - jekyll-text-theme.gemspec
  - package-lock.json
  - package.json
  - /docs
  - /node_modules
  - /screenshots
  - /test
  - /vendor

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: article
      sharing: false
      license: false
      aside:
        toc: true
      show_edit_on_github: false
      show_subscribe: false
      pageview: false


## => Plugins
##############################
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-sitemap
  - jemoji
